/*body{
    background-color: rgba(7, 97, 120, 0.674);
    background-image:image("C:\Users\gabriel37332\OneDrive - Sistema Fiep\Área de Trabalho\WallPaper.png");
    color: rgb(240, 217, 187);
    padding:24px ;
}*/


input{
    height: 32px;
    background-color: transparent;
    color: rgb(240, 217, 187);
    border-color: rgb(0, 0, 0);
    border-radius: 8px;
    font-size: 16px;
    padding: 8px;
}


.title{
    font-size: 35px;
    color: black;
}

.list-item{
    margin-bottom: 10px;
    font-size: 20px;
}

.add-task-button{
    
    font-size: 16px;
    padding: 16px;
    background-color:rgb(240, 217, 187);
    border-width: 0px;
    border-radius: 4px;
}

.demo {
    grid-area: demo;
    position: sticky;
    top: 0;
    height: 100vh;
    flex: 1;
    display: flex;
    justify-content: center;
    border: 0px solid #555;
    box-sizing: border-box;
}